:root {
	--colorBackground: #1e1e20;
	--colorBackgroundAlt: #242426;
	--colorBackgroundShadow: rgba(70, 70, 70,.85);
	--colorAccent: #47ca8d;
	--colorSecondaryAccent: #e93d70;
	--colorSpecial: #b5a238;
	--colorText: #eee;
	--colorTextContrast: #161f21;
	--colorDisabled: gray;
	--colorHeaderBackground: transparent;
	--colorError: #d74646;
}