:root {
	--colorBackground: #1c1c1c;
	--colorBackgroundAlt: #242426;
	--colorBackgroundShadow: rgba(70, 70, 70,.85);
	--colorAccent: #d6c64e;
	--colorSecondaryAccent: #31c2cc;
	--colorSpecial: #aa9a40;
	--colorText: #eee;
	--colorTextContrast: #161f21;
	--colorDisabled: gray;
	--colorHeaderBackground: transparent;
	--colorError: #d74646;
}