:root {
	--colorBackground: #000; //#1c1c1c;
	--colorBackgroundAlt: #242426;
	--colorBackgroundShadow: rgba(70, 70, 70, .85);
	--colorAccent: #30e2b3;
	--colorSecondaryAccent: #e71eab;
	--colorSpecial: #baa42a;
	--colorText: #eee;
	--colorTextContrast: #161f21;
	--colorDisabled: gray;
	--colorHeaderBackground: var(--colorBackgroundAlt);
	--colorError: #d74646;
}