:root {
  --colorBackground: #fdf6e3;
  --colorBackgroundAlt: #eee8d5;
  --colorBackgroundShadow: #93a1a1;
  --colorAccent: #268bd2;
  --colorSecondaryAccent: #b58900;
  --colorSpecial: #859900;
  --colorText: #002b36;
  --colorTextContrast: #dc322f;
  --colorDisabled: gray;
  --colorHeaderBackground: var(--colorBackgroundAlt);
  --colorError: #dc322f;
}
