.open-library-button {
  display: flex;
  height: 60px;
  width: 340px;
  cursor: pointer;

  .background {
    display: flex;
    flex: 1;
    padding: $spacing;
    border-radius: $borderRadius;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      align-self: center;
    }
  }
}
