.open-library-button {
  display: flex;
  height: 120px;
  width: 340px;
  border-radius: $borderRadius;
  background-color: #c29354;
  cursor: pointer;

  div {
    display: flex;
    flex: 1;
    padding: $spacing;

    h1 {
      align-self: center;
    }
  }
}
