.photo {
  // min-width: 250px;
  // min-height: 175px;
  border-radius: $borderRadius;
  background-color: var(--colorBackgroundAlt);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: border-width 0.1s;

  &.selected {
    border: 4px solid var(--colorText);
  }

  &:hover {
    cursor: pointer;
  }
}
