.photo {
  min-width: 250px;
  min-height: 175px;
  border: 2px solid transparent;
  border-radius: $borderRadius;
  background-color: var(--colorBackgroundAlt);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &.selected {
    border: 2px solid greenyellow;
  }

  &:hover {
    cursor: pointer;
  }
}
