button {
  color: var(--colorAccent);
  background-color: transparent;
  height: $buttonHeight;
  line-height: $buttonHeight;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  width: auto;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;

  .label:empty {
    display: none;
  }

  &:hover,
  &:active {
    filter: brightness(1.2);
  }

  &:disabled {
    color: var(--colorDisabled);
  }

  &:not(.with-icon) {
    min-width: $buttonHeight * 1.5;
  }

  &.icon-right {
    .label {
      margin-right: calc($spacing / 2);
    }
  }

  &.icon-left {
    .label {
      margin-left: calc($spacing / 2);
    }
  }

  svg {
    display: block;
    width: 55%;
    height: 55%;
    margin: auto;
  }
}
