button {
  color: var(--colorAccent);
  background-color: transparent;
  height: $buttonHeight;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  width: auto;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;

  height: $buttonHeight;
  line-height: $buttonHeight;

  &:empty {
    display: none;
  }

  &:hover {
    filter: brightness(1.2);
  }

  &:disabled {
    color: var(--colorDisabled);
  }

  &:not(.with-icon) {
    min-width: $buttonHeight * 1.5;
  }

  &.icon-right {
    svg {
      margin-left: calc($spacing / 2);
    }
  }

  &.icon-left {
    svg {
      margin-right: calc($spacing / 2);
    }
  }

  svg {
    display: block;
    width: 55%;
    height: 55%;
    margin: auto;
  }
}

@mixin button-filled {
  button {
    background-color: var(--colorBackgroundInput);
    border: 1px solid var(--colorBackground);
    border-radius: $borderRadius;

    &:hover {
      border-color: var(--colorAccent);
      filter: brightness(1.2);
    }
  }
}
