form {
  display: flex;
  flex-direction: column;
  gap: $spacing;
}

label {
  display: flex;
  flex-direction: column;
  gap: $spacing;
}

input {
  border: 1px solid var(--colorBackground);
  border-radius: $borderRadius;
  height: $buttonHeight;
  color: var(--colorText);
  background-color: var(--colorBackgroundInput);
  padding-left: $spacing;

  &:focus {
    border-color: var(--colorAccent);
  }
}

.checkbox-input {
  display: grid;
  grid-template-columns: $inputCheckboxHeight auto;

  input {
    height: $inputCheckboxHeight;
  }

  span {
    line-height: $inputCheckboxHeight;
  }
}
