header {
  display: flex;
  flex-direction: row;
  gap: $spacingLarge;

  height: $headerHeight;

  button,
  a {
    user-select: none;
    align-self: center;

    .label {
      height: $headerHeight;
      line-height: $headerHeight;
    }
  }

  .title {
    align-self: center;
    font-size: 2em;
    font-weight: bold;
  }

  .space {
    flex: 1 1 auto;
  }

  .actions {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: $spacing;

    > * {
      align-self: center;
    }
  }
}
