@font-face {
	font-family: "FiraSans";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans";
	font-style: bold;
	font-weight: 700;
	src: url("/fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
}