@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/OpenSans-Semibold.ttf");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: bold;
	src: url("/fonts/OpenSans-Bold.ttf");
}