@import "_cssreset";
@import "_fonts";

$fontSize: 0.9em;
$spacing: 10px;
$spacingLarge: 20px;
$transitionSpeed: 0.2s;
$borderRadius: 3px;
$headerHeight: 50px;
$buttonHeight: 32px;
$breakpointMobile: 768px;

@import "themes/theme-default-dark";

html {
	touch-action: manipulation;
	overscroll-behavior: none;

	* {
		box-sizing: border-box;
		outline: none;
		transition-property: none;
		transition-duration: $transitionSpeed;
		scrollbar-width: thin;
		scrollbar-color: var(--colorAccent) var(--colorBackground);
	}

	body {
		font-family: Lato;
		font-size: $fontSize;
		font-weight: normal;

		background: var(--colorBackground);
		color: var(--colorText);

		#appRoot {
			display: flex;
			flex-direction: column;
			height: 100vh;

			#content {
				height: 100%;
				overflow: auto;

				&.padding-top {
					padding-top: $headerHeight / 2;
				}
			}
		}
	}
}

// Imports
@import "app.misc";
@import "app.component.modal";
@import "app.component.header";
@import "app.component.albums";
@import "app.component.shares";
@import "app.component.photoGallery";
@import "app.component.photoDetail";
@import "app.component.uploadProgress";
@import "app.component.modalAddToAlbum";
@import "app.component.modalSharingOptions";
@import "app.component.exif";
@import "app.component.toasts";
@import "app.component.switch";
@import "app.component.inputPassword";
@import "app.component.menu";

label {
	width: 100%;
}

input,
select,
button,
.asButton {
	margin: 10px 0 10px 0;
	height: $buttonHeight;
	line-height: $buttonHeight;
	border-radius: $borderRadius;

	&:disabled {
		background-color: var(--colorDisabled);
	}

	&[type=text],
	&[type=password] {
		width: 100%;
	}

	&[type=file] {
		display: none;
	}

	&[type=checkbox] {
		visibility: hidden;

		&:checked {}
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

a[href]:not(.asButton) {

	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
		color: unset;
	}

	&:hover {
		text-decoration: underline;
	}
}

input,
select {
	background-color: var(--colorBackgroundAlt);
	color: var(--colorText);
	border: 2px solid var(--colorBackgroundShadow);
	text-indent: $spacing;

	&:focus {
		border-color: var(--colorSecondaryAccent);
	}
}

.selectFiles {
	background: var(--colorSecondaryAccent);
	cursor: pointer;
	height: $buttonHeight;
	line-height: $buttonHeight;
	display: inline-block;
	padding: 0 $buttonHeight;
}

button,
.asButton {
	color: var(--colorAccent);
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: auto;
	text-decoration: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
	display: flex;
	justify-content: center;
	white-space: nowrap;

	&:hover,
	&:active {
		filter: brightness(1.2);
	}

	&:disabled {
		color: var(--colorDisabled)
	}

	&.iconOnly {
		margin-left: $spacingLarge;
	}

	&:not(.iconOnly) {
		min-width: $buttonHeight * 2;
		margin: 0px $spacing;
		padding: 0px $spacing;
	}

	svg {
		display: block;
		width: 55%;
		height: 55%;
		margin: auto;
	}
}

// Icons
svg {
	min-width: 24px;
	max-width: 24px;
}

h1 {
	font-size: $fontSize * 1.75;
}

h2 {
	font-size: $fontSize * 1.45;
}

h1,
h2 {
	margin: 0;
	font-weight: bold;
}

hr {
	color: var(--colorBackgroundShadow);
}