.album-tag {
  margin-bottom: $spacingLarge;

  h2 {
    display: flex;
    margin-bottom: $spacing;
    font-weight: normal;

    svg {
      align-self: center;
      color: var(--colorSecondaryAccent);
      margin-right: $spacing;
    }
  }
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: $spacingLarge;

  .album {
    position: relative;
    cursor: pointer;

    &:hover {
      .album-thumbnail {
        filter: brightness(1.1);
      }
    }

    .album-thumbnail {
      max-width: 25vw;
      width: 160px;
      height: 120px;
      border-radius: $borderRadius;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: var(--colorBackgroundAlt);
    }

    .album-title {
      max-width: 25vw;
      display: inline-block;
      width: 160px;
      line-height: $buttonHeight;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
