.upload-progress {
  position: fixed;
  right: $spacing;
  bottom: $spacing;
  width: 350px;
  max-height: 300px;
  background: var(--colorBackgroundAlt);
  border-radius: $borderRadius;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  z-index: 2;

  .header {
    display: flex;
    height: $buttonHeight;

    .title {
      flex: 1;
      line-height: $buttonHeight;
    }

    .actions {
      justify-self: flex-end;
    }
  }

  .files {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: $spacing;

    .file {
      display: flex;
      width: 100%;
      height: $headerHeight;
      align-items: center;

      .thumb {
        flex: 0 0 $headerHeight;
        height: $headerHeight;
        max-width: $headerHeight;
        object-fit: cover;
      }

      .title {
        flex: 0 1 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > span {
        margin: 0 $spacing;
      }
    }
  }
}
