
.collection-view {
	display: flex;
	flex-direction: row-reverse;
	max-height: 100vh;

	.photos {
		flex: 1;
		display: flex;
		flex-direction: column;

		h2 {
			height: $headerHeight;
			line-height: $headerHeight;
			margin-top: $headerHeight / 2;
		}

		.photoGallery {
			max-height: 100%;
			overflow: auto;
		}
	}
}
