.shares {
	padding: $spacingLarge;

	.share {
		background-color: var(--colorBackgroundAlt);
		border-radius: $borderRadius;
		padding: $spacing;

		.head {
			display: flex;
			line-height: $buttonHeight;

			h2 {
				flex: 1;
			}
		}
		.body {
			.copyUrl {
				flex: 1;
			}

			.actions {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}