
.collections {
	display: flex;
	flex-direction: column;
	gap: $spacing * 2;
	padding: $spacing * 2;

	.collection {
		padding: $spacing * 2;
		background: $colorBackgroundAlt;
		border-radius: $borderRadius;

		.head {
			display: flex;
			line-height: $buttonHeight;

			.title {
				flex: 1;
				text-align: unset;
			}

			.shared {
				color: $colorSpecial;
			}
		}

		.body {

			.settings {
				// Will need JS to do this animation properly..
				max-height: 0px;
				transition: max-height $transitionSpeed;

				&.open {
					max-height: 200px;
				}
			}

			.collection-albums {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: $spacing * 2;
				margin-top: $spacing * 2;

				.album {
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					width: 200px;
					height: $buttonHeight * 1;

					&, .albumContent {
						border-radius: $borderRadius;
					}

					&:hover {
						cursor: pointer;
					}

					.albumContent {
						display: flex;
						height: 100%;
						line-height: $buttonHeight;
						background-color: rgba(black, 0.55);

						.title {
							flex: 1;
							margin-left: $spacing;
						}
					}
				}
			}
		}
	}
}