.upload-progress {
	position: fixed;
	right: $spacing;
	bottom: $spacing;
	width: 450px;
	max-height: 300px;
	background: var(--colorBackground);
	box-shadow: 0 0 5px var(--colorBackgroundShadow, 40);
	border-radius: $borderRadius;
	overflow: auto;
	padding: $spacing;
	display: flex;
	flex-direction: column;
	gap: $spacing;

	.header {
		display: flex;
		justify-content: flex-end;
	}

	.file {
		display: flex;
		width: 100%;
		height: $headerHeight;
		align-items: center;

		.thumb {
			flex: 0 0 $headerHeight;
			height: $headerHeight;
			max-width: $headerHeight;
		}

		.title {
			flex: 0 1 100%;
		}

		>span {
			margin: 0 0 0 $spacing;
		}
	}
}