$modalHeaderHeight: $buttonHeight;

.overlay {
	// position: fixed;
	// inset: 0px;
	// background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	justify-content: center;
}

.modal {
	position: absolute;
	background: $altBackgroundColor;
	overflow: auto;
	border-radius: $borderRadius;
	border: 1px solid $accentColor;
	padding: $spacing * 2;
	min-width: 250px;

	display: flex;
	flex-direction: column;

	.modalHeader {
		flex: 0 0 modalHeaderHeight;
		display: flex;

		.title {
			display: flex;
			flex: 0 1 100%;
			line-height: $modalHeaderHeight;
			font-weight: bold;
			font-size: $fontSizeLarge;
		}
	}

	.modalBody {
		display: flex;
		flex: 0 1 100%;
		align-items: center;
		min-height: 50px;
		flex-direction: column;
		max-height: 80vh;
		margin: $spacing * 4 0px;
		gap: $spacing * 2;
	}

	.modalFooter {
		flex: 0 0 auto;
		display: flex;
		justify-content: right;
		margin-top: $spacing * 6;

		&:not(:empty) {
			border-top: 1px solid $secondaryAccentColor;
		}
	}
}

@media only screen and (max-width: $breakpointMobile) {
	.modal {
		//top: 3%;
		//bottom: 3%;
		right: 3%;
		left: 3%;
	}
}