.centerText{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.hidden {
	width: 0px;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
}

.padding-top-50px {
	padding-top: 50px;
}

.topBar {
	display: flex;
	padding: $spacing * 3;
	min-height: $buttonHeight;
	line-height: $buttonHeight;

	h1 {
		flex: 1 1 auto;
		text-align: left;
	}

	> *:not(:last-child) {
		margin-right: $spacing * 2;
	}
}

.shareUrl {
	align-self: center;
}

.copyUrl {
	display: flex;

	> * {
		margin: $spacing * 2 0;

		&:not(:last-child) {
			margin-right: $spacing * 2;
		}
	}
}