@import "_cssreset";
@import "_fonts";

$backgroundColor: #000;
$altBackgroundColor: #191d25;
$accentColor: #d3e532;
$secondaryAccentColor: #664645;
$textColorDark: #161f21;
$textColorLight: #dedfe4; //white;
$disabledColor: gray;

$fontSizeNormal: 0.85em;
$fontSizeLarge: 1.3em;
$spacing: 5px;
$transitionSpeed: 0.2s;
$borderRadius: 2px;
$headerHeight: 50px;
$buttonHeight: 40px;

$breakpointMobile: 768px;

html {
	touch-action: manipulation;

	& * {
		box-sizing: border-box;
		outline: none;
	}

	body {
		font-family: FiraSans;
		font-size: $fontSizeNormal;

		background: $backgroundColor;
		color: $textColorLight;

		.page {
			min-height: 100vh;

			.content {
				padding-top: $headerHeight;
			}
		}
	}
}

// Imports
@import "app.misc";
@import "app.component.modal";
@import "app.component.header";
@import "app.component.overlay";
@import "app.component.albums";
@import "app.component.photoGallery";
@import "app.component.photoDetail";
@import "app.component.modalUploadProgress";
@import "app.component.modalCreateAlbum";
@import "app.component.modalAddToAlbum";
@import "app.component.modalCopyUrl";
@import "app.component.exif";
@import "app.component.toasts";
@import "app.component.switch";

input, select, button, .asButton {
	margin: 10px 0 10px 0;
	width: 100%;
	height: $buttonHeight;
	line-height: $buttonHeight;
	border-radius: $borderRadius;

	&:disabled {
		background-color: $disabledColor;
	}
}

a[href]:not(.asButton) {
	&:link, &:visited, &:hover, &:active { text-decoration: none; color: unset; }
	&:hover { text-decoration: underline; }
}

input, select {
	background-color: $altBackgroundColor;
	color: $textColorLight;
	border: 2px solid $secondaryAccentColor;

	&:focus {
		border-color: $accentColor;
	}
}

.selectFiles {
	background: $secondaryAccentColor;
	cursor: pointer;
	height: $buttonHeight;
	line-height: $buttonHeight;
	display: inline-block;
	padding: 0 $buttonHeight;
}
input[type=file] {
	display: none;
}

button, .asButton {
	color: $textColorDark;
	background-color: $accentColor;
	border: none;
	cursor: pointer;
	width: auto;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	padding: 0;
	display: inline-block;
	text-align: center;
	
	svg {
		display: block;
		width: 60%;
		height: 60%;
		margin: auto;
	}

	&.iconOnly {
		display: flex;
		min-width: $buttonHeight;
		width: $buttonHeight;
	}
	&:not(.iconOnly) {
		min-width: $buttonHeight * 2;
	}

	&:hover,
	&:active {
		background: $secondaryAccentColor;
		color: $textColorLight;
	}
}

h1 {
	margin: 0;
}