$modalHeaderHeight: $buttonHeight;

.overlay {
	// position: fixed;
	// inset: 0px;
	// background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	justify-content: center;
}

.modal {
	position: absolute;
	background: $altBackgroundColor;
	overflow: auto;
	border-radius: $borderRadius;
	border: 1px solid $accentColor;
	padding: $spacing * 2;

	display: flex;
	flex-direction: column;

	.modal-header {
		flex: 0 0 100%;
		display: flex;

		>* {
			//margin: 0 $spacing;
		}

		.title {
			display: flex;
			flex: 0 1 100%;
			line-height: $modalHeaderHeight;
			font-weight: bold;
			font-size: $fontSizeLarge;
		}

		// .button-close {
		// 	padding: 0;
		// 	width: $modalHeaderHeight;
		// 	min-width: $modalHeaderHeight;
		// 	height: $modalHeaderHeight;
		// }
	}

	.modal-body {
		display: flex;
		flex: 0 1 auto;
		align-items: center;
		min-height: 50px;
		flex-direction: column;
		max-height: 80vh;
		//overflow-y: scroll;
		margin: $spacing * 4;
	}

	.modal-footer {
		flex: 0 0 auto;
		display: flex;
		justify-content: right;
	}
}