
.albums {
	display: flex;
	flex-wrap: wrap;
	gap: $spacingLarge;
	padding: 0 $spacingLarge;

	.album {
		position: relative;
		cursor: pointer;

		&:hover {
			.album-thumbnail {
				filter: brightness(1.1);
			}
		}

		.album-thumbnail {
			max-width: 40vw;
			width: 200px;
			height: 150px;
			border-radius: $borderRadius;
			background-size:cover;
			background-position:center center;
			background-repeat:no-repeat;
			background-color: $colorBackgroundAlt;
		}

		.album-title {
			max-width: 40vw;
			display: inline-block;
			width: 200px;
			line-height: $buttonHeight;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}