.switch {
	display: flex;

	span {
		align-self: center;
		padding-right: $spacing * 2;
		white-space: nowrap;
	}

	>div {
		// This div represents the switch itself
		align-self: center;
		border-radius: 20px;
		border: 2px solid $colorBackgroundShadow;
	}

	.checkedIcon, .uncheckedIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.checkedIcon {
		padding-left: $spacing * 4;
		color: $colorTextContrast;
	}
	.uncheckedIcon {
		padding-right: $spacing * 3;
		color: $colorText;
	}
}