.Toastify__toast-container {

	.Toastify__toast {
		background: var(--colorBackgroundAlt);
		color: var(--colorText);
		border: 1px solid var(--colorAccent);
		border-radius: $borderRadius;
		min-height: $headerHeight;
		font-family: unset;

		.Toastify__close-button {
			all: unset;

			svg {
				fill: var(--colorAccent);
			}
		}
	}
}