

#header {
	display: flex;
	height: $headerHeight;
	background-color: $colorBackgroundAlt;
	//position: fixed;
	width: 100%;
	z-index: 1;

	.menu {
		display: flex;
		user-select: none;

		span {
			cursor: pointer;
			font-size: $fontSizeLarge;
			line-height: $headerHeight;
			height: $headerHeight;
			margin: 0 $spacing * 2 0 0;
			padding-right: $spacing * 4;
			padding-left: $spacing * 4;

			&:hover {
				color: $colorAccent;
				//background-color: $colorSecondaryAccent;
			}

			&.active {
				color: $colorAccent;
				border-bottom: 4px solid $colorSecondaryAccent;
			}
		}
	}

	.buffer{
		flex: 1 1 auto;
		padding-left: $spacing * 10;
	}

	.contextMenuToggle {
		height: $headerHeight;
		width: $headerHeight;
		min-width: $headerHeight;
		background-color: transparent;
		color: $colorTextLight;
	}

	.actions {
		background-color: $colorBackgroundAlt;
		padding-right: $spacing;

		span {
			white-space: nowrap;
		}

		&, &>div{
			display: flex;
			justify-content: right;
			align-items: center;

			button, .asButton {
				margin: 0 0 0 $spacing * 2;
				padding: 0px $spacing * 2;

				span {
					margin-right: $spacing * 2;
					color: $colorTextLight;
				}
			}
		}
	}

	.contextMenu {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0);
		cursor: pointer;

		.items {
			display: flex;
			flex-direction: column;
			justify-content: right;
			align-items: center;
			background-color: $colorBackgroundAlt;
			min-width: 150px;

			position: fixed;
			top: $headerHeight;
			right: 0;

			span {
				line-height: $headerHeight;
				white-space: nowrap;
			}

			button {
				border-radius: unset;
				padding: 0 $spacing * 3;
				color: $colorTextLight;
				background-color: $colorBackgroundAlt;
				width: 100%;
				margin: 0;
				justify-content: left;
				text-transform: unset;

				&:hover {
					&, * {
						background-color: $colorAccent;
						color: $colorTextDark;
					}
				}
			}
		}
	}
}