.input-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing;

  * {
    max-width: 400px;
    height: $buttonHeight;
    line-height: $buttonHeight;
  }

  label {
    display: block;
    text-align: center;
  }

  button {
    width: 100%;
  }
}
