

.header {
	display: flex;
	height: $headerHeight;
	background-color: $altBackgroundColor;
	position: fixed;
	width: 100%;
	z-index: 1;

	.menu {
		display: flex;
		user-select: none;
		
		span {
			cursor: pointer;
			font-size: $fontSizeLarge;
			line-height: $headerHeight;
			height: $headerHeight;
			margin: 0 $spacing * 2 0 0;
			padding-right: $spacing * 5;
			padding-left: $spacing * 5;

			&.active {
				color: $accentColor;
				border-bottom: 1px solid $accentColor;
			}

			&:hover {
				background-color: $secondaryAccentColor;
			}
		}
	}

	.title{
		flex: 0 1 100%;
		padding-left: $spacing * 10;
		font-size: $fontSizeLarge;
		line-height: $headerHeight;
		display: flex;
		justify-content: left;
	}

	.contextMenuToggle {
		height: $headerHeight;
		width: $headerHeight;
		min-width: $headerHeight;
		background-color: transparent;
		color: $textColorLight;
	}

	.actions {
		background-color: $altBackgroundColor;
		padding-right: $spacing;
		
		span {
			line-height: $headerHeight;
			white-space: nowrap;
		}

		&, &>div{
			display: flex;
			justify-content: right;
			align-items: center;
	
			button, .asButton {
				margin: 0 0 0 $spacing * 2;
				padding: unset;
			}
		}
	}

	.contextMenu {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0);
		cursor: pointer;

		.items {
			background-color: transparent;
	
			position: fixed;
			top: $headerHeight;
			right: 0;
			
			span {
				line-height: $headerHeight;
				white-space: nowrap;
			}
	
			&>div{
	
				display: flex;
				flex-direction: column;
				justify-content: right;
				align-items: center;
				background-color: $altBackgroundColor;
				
				> button, .asButton {
					padding: 0 $spacing * 3;
				}
				
				button, .asButton, :not(div) {
					border-radius: unset;
					color: $textColorLight;
					background-color: $altBackgroundColor;
					width: 100%;
					margin: 0;

					&:hover {
						&, * {
							background-color: $accentColor;
							color: $textColorDark;
						}
					}
				}
			}
		}
	}
}