
.albums {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing * 2;
	padding: $spacing * 2;
	justify-content: center;

	.album {
		position: relative;
		cursor: pointer;
		border-radius: $borderRadius;

		width: 200px;
		height: 150px;
		max-width: 40vw;
		max-height: 30vw;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		background-color: $altBackgroundColor;

		&:hover, &.active {
			span {
				background-color: rgba($accentColor, 1);
				color: $textColorDark;
			}
		}

		svg {
			position: absolute;
			top: $spacing;
			right: $spacing;
			color: $accentColor;
			background-color: rgba($altBackgroundColor, 0.5);
			border-radius: 50px;
		}

		span {
			position: absolute;
			border-bottom-left-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
			bottom: 0;
			left: 0;
			height: 30px;
			line-height: 30px;
			width: 100%;
			padding: 0 $spacing;
			background-color: rgba($backgroundColor, $alpha: 0.7);
			color: $textColorLight;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}