.photoGallery {
	* {
		user-select: none;
	}

	.photo {
		cursor: pointer;
		position: relative;

		.photoImg {
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: var(--colorBackgroundAlt);
			border: 0px solid var(--colorSecondaryAccent);
			transition-property: border-width;
		}

		&.selected .photoImg{
			box-sizing: border-box;
			border-width: 5px;
		}
	}
}