:root {
	--colorBackground: #073642;
	--colorBackgroundAlt: #002b36;
	--colorBackgroundShadow: #586e75;
	--colorAccent: #b58900;
	--colorSecondaryAccent: #b58900;
	--colorSpecial: #859900;
	--colorText: #eee8d5;
	--colorTextContrast: #93a1a1;
	--colorDisabled: gray;
	--colorHeaderBackground: transparent;
	--colorError: #dc322f;
}