:root {
	--colorBackground: #1c1c1c;
	--colorBackgroundAlt: #303030;
	--colorBackgroundShadow: rgba(70, 70, 70,.85);
	--colorAccent: #20aced;
	--colorSecondaryAccent: #d6d12f;
	--colorSpecial: #b5a238;
	--colorText: #eee;
	--colorTextContrast: #161f21;
	--colorDisabled: gray;
	--colorHeaderBackground: transparent;
	--colorError: #d74646;
}