:root {
  --colorBackground: #000;
  --colorBackgroundAlt: #282828;
  --colorBackgroundHeader: #273a4c;
  --colorBackgroundInput: #273a4c;
  --colorAccent: #1dc9e5;
  --colorText: #eee;
  --colorTextContrast: #161f21;
  --colorDisabled: gray;
  --colorError: #e26997;
}
