:root {
  --colorBackground: #000; //#1c1c1c;
  --colorBackgroundAlt: #303235;
  --colorBackgroundHeader: #293540;
  --colorBackgroundInput: #293540;
  --colorAccent: #2ce1fe; // #e1c119; //#30e2b3;
  --colorSecondaryAccent: #e71eab;
  --colorSpecial: #baa42a;
  --colorText: #eee;
  --colorTextContrast: #161f21;
  --colorDisabled: gray;
  --colorError: #e26997;
}
