:root {
  --colorBackground: #000;
  --colorBackgroundAlt: #121213;
  --colorBackgroundHeader: #434547;
  --colorBackgroundInput: #434547;
  --colorAccent: #77dd77;
  --colorText: #eee;
  --colorTextContrast: #161f21;
  --colorDisabled: gray;
  --colorError: #e26997;
}
