@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/OpenSans-Bold.ttf");
}
