@import "_cssreset";
@import "_fonts";

$fontSize: 0.85em;
$spacing: 10px;
$spacingLarge: 20px;
$transitionSpeed: 0.2s;
$borderRadius: 3px;
$headerHeight: 55px;
$buttonHeight: 32px;
$breakpointMobile: 525px;

@import "themes/theme-default-dark.scss";

html {
  touch-action: manipulation;

  * {
    box-sizing: border-box;
    outline: none;
    transition-property: none;
    transition-duration: $transitionSpeed;
    scrollbar-width: thin;
    scrollbar-color: var(--colorAccent) var(--colorBackground);
  }

  body {
    overscroll-behavior: contain;
    font-family: OpenSans;
    font-size: $fontSize;
    font-weight: normal;

    background: var(--colorBackground);
    color: var(--colorText);

    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: $spacing;
    gap: $spacing;

    main {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}

@import "pages/albums.scss";
@import "components/album-thumb.scss";
@import "components/header.scss";
@import "components/gallery.scss";
@import "components/photo.scss";
@import "components/dialog.scss";
