@import "_cssreset";
@import "_fonts";

$fontSize: 0.85em;
$spacing: 10px;
$spacingLarge: 20px;
$transitionSpeed: 0.2s;
$borderRadius: 4px;
$headerHeight: 55px;
$buttonHeight: 45px;
$inputCheckboxHeight: 35px;
$breakpointMobile: 525px;

@import "themes/theme-default-dark.scss";

html {
  touch-action: manipulation;

  * {
    box-sizing: border-box;
    outline: none;
    transition-property: none;
    transition-duration: $transitionSpeed;
    scrollbar-width: thin;
    scrollbar-color: var(--colorAccent) var(--colorBackground);
  }

  body {
    overscroll-behavior: contain;
    font-family: OpenSans;
    font-size: $fontSize;
    font-weight: normal;

    background: var(--colorBackground);
    color: var(--colorText);

    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: $spacing;
    gap: $spacing;

    main {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}

@import "components/album-thumb.scss";
@import "components/dialog.scss";
@import "components/gallery-detail.scss";
@import "components/gallery.scss";
@import "components/icons.scss";
@import "components/photo-exif.scss";
@import "components/photo.scss";
@import "components/pick-album.scss";
@import "components/share-info.scss";
@import "misc/buttons.scss";
@import "misc/forms.scss";
@import "misc/header.scss";
@import "pages/albums.scss";
@import "pages/shared.scss";

a {
  color: var(--colorText);
  text-decoration: none;

  &:hover,
  &.active {
    color: var(--colorAccent);
  }
}
