.home {
  display: flex;
  flex-direction: column;
  gap: $spacingLarge;

  .space {
    flex: 1 1 auto;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: $spacingLarge;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: $spacingLarge;
}
