@import "../misc/buttons.scss";

.unlock-share {
  align-self: center;
  width: 90%;
  max-width: 500px;
  border-radius: $borderRadius;
  background-color: var(--colorBackgroundAlt);
  margin-top: $headerHeight;
  padding: $spacing;

  display: flex;
  flex-direction: column;
  gap: $spacing;

  @include button-filled;

  .footer {
    display: flex;
    flex-direction: row;

    .status {
      flex: 1;
      line-height: $buttonHeight;
      color: var(--colorError);
    }
  }
}
