server {
    listen 80;
	root /home/app;
	index index.html;

	# These paths are 'virtual' paths, routing is done client side.
	# So for all these paths just return the index file.
	# Can I do this in a way so that I don't need to type out all paths here?
	location ~* ^/(albums|album|photos|photo)$ {
		try_files /index.html =404;
	}

	location /api {
		proxy_pass ${API_URI};
	}
}